@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-size: 16px;
    font-weight: 300;
    font-family: Outfit, sans-serif;
    color: hsl(215, 51%, 70%);
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
}

.card {
    background-color: hsl(216, 50%, 16%);
    width: 326px;
    height: 544px;
    border-radius: 20px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.nft-image-div {
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.nft-image {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.nft-overlay-div {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: hsl(178, 100%, 50%, 0.5);
    transition: .2s ease;
    opacity: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nft-overlay-div:hover  {
    opacity: 1;
}

.nft-overlay-div img {
    width: 45px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.card-content .nft-name {
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    cursor: pointer;
}

.card-content .nft-name:hover {
    color: hsl(178, 100%, 50%);
}


/* @media only screen and (min-width: 768px) {
    .card {
        width: 600px;
        height: 450px;
        display: flex;
        gap: 16px;   
    }

    .nft-image {
        flex: 1;
        display: flex;
    }

    .nft-image img {
        border-radius: 20px 0 0 20px;
        height: 100%;
    }
    
    .card-content {
        flex: 1;
    }

    .card-content .nft-name {
        font-size: 40px;
    }
} */

.card-content .price-div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.card-content .price, .card-content .bid-time {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.card-content .price {
    font-weight: 400;
    color: hsl(178, 100%, 50%);
}

.blue-line {
    display: block;
    border-top: solid 1px hsl(215, 51%, 70%);
    width: 100%;
}

.creator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 300;
}

.creator img {
    width: 36px;
    border-radius: 50%;;
    border: solid 2px #ffffff;
}

.creator a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    cursor: pointer;
}

.creator a:hover {
    color: hsl(178, 100%, 50%);
}

/**FOOTER**/
.attribution {
    font-size: 11px;
    text-align: center;
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    padding-left: 4px;
    text-decoration: none;
}